{% extends "index.html" %}

{% block content %}

<br>
<div id ="add-div"></div>
<br>

<h1>Customers</h1>

<a onclick="showaddform()" class="btn btn-primary mb-3">Add new customer</a>


{% for c in customers %}
<div class="card mb-3" style="width: 40rem;">
  <div class="card-body">
    <h3>{{ c.customerfname }} {{ c.customerlname }}</h3>
    <p>{{ c.address }} | {{ c.phone }} | {{ c.email }}</p>
    <a href="{% url 'addorder' c.id %}" class="btn btn-primary">Make Order</a>
    <a href="{% url 'customer_orders' c.id %}" class="btn btn-info">View Orders</a>
    <a href="{% url 'deletecustomer' c.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>

{% endfor %}

<script>

// muuttuja alustus
    let x = `
    <h2 style="color: lightblue">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-customer/">
    
                {% csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="First name" name="customerfname">
                <input class="card-text" type="text" placeholder="Last name" name="customerlname">
                <input class="card-text" type="text" placeholder="Address" name="address">
                <input class="card-text" type="text" placeholder="Phone" name="phone">
                <input class="card-text" type="text" placeholder="Email" name="email">
                <input class="card-text" type="text" placeholder="Country" name="country">
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    // Metodit jotka näyttää tai piilottaa lomakkeen
    function showaddform() {
        document.getElementById("add-div").innerHTML = x
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}
    